.idea
.vscode
.zed
.history
pprof
upload
uploads
*.exe
*.db
build
*.db-journal
logs
*/dist
*/node_modules
.env
/__debug_bin*
.DS_Store
tiktoken_cache
.eslintcache
.gocache
.gomodcache/
.cache
plans
.claude
.cursor

data/
.gomodcache/
.gocache-temp
.gopath
.test
token_estimator_test.go
skills-lock.json
